* {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: aqua;
}

section {
    background-color: aqua;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.container {
    width: 57vw;
    height: 87vh;
    background-color: antiquewhite;
    background-size: cover;
    position: relative;
}

    .container .inner {
        width: 50%;
        height: 100%;
        position: absolute;
        right: 0;
        background: rgba(255,252,252,0.92);
        text-align: center;
    }

html {
    background-color: aqua;
}

h3 {
    font-size: 2.5vw;
    font-family: 'Pacifico';
    margin-bottom: 13%;
    margin-top: 6%;
}

input[type=text], input[type=password] {
    width: 80%;
    height: 6%;
    margin-bottom: 3%;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #4b4040;
}

input[placeholder] {
    font-size: 1.4vw;
    padding-left: 3%;
    font-family: 'Crete Round';
}

.btn {
    width: 40%;
    height: 10%;
    margin-bottom: 9vh;
    font-family: 'Crete Round';
    font-size: 1.3vw;
    background-color: #12a312;
    color: white;
    border: 1px solid;
}
